.head-nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5vw;
    right: 20vw;
    justify-content: center;
    align-items: center;
}

.head-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.health {
    color: #1a1a1a;
}

.food {
    color: #8e2b2b;
}
